 .cornerLink {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    padding: 2px 0px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    text-align: center;
    width: 100px;
    font-size: 10px;

}
.imageWrapper:hover .cornerLink {
    opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-mostrar:hover .middle {
  opacity: 1;
}

.img-mostrar2:hover .middle {
  opacity: 1;
}

.img-mostrar3:hover .middle {
  opacity: 1;
}
.img-mostrar4:hover .middle {
  opacity: 1;
}
.img-mostrar5:hover .middle {
  opacity: 1;
}
.img-mostrar6:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 10px;

}

/*-----------------o--------------Imgen de Chat y Whatsapp--------------o-----------------o-------------o*/
    .probando
     { position: fixed; bottom: 0px; right: 20px; 

        width: 50px;
        height: 50px;
        z-index: 10;
    }

    .probandoo
     { position: fixed; bottom: 0px; right: 80px; 
        width: 50px;
        height: 50px;
        z-index: 10;
    }
    /*-----------------o--------------Imgen de Chat y Whatsapp--------------o-----------------o-------------o*/

      .dropdown-submenu{
       position: relative;
}
.dropdown-submenu a::after{
       transform: rotate(-90deg);
       position: absolute;
       right: 3px;
       top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
       display: flex;
       flex-direction: column;
       position: absolute !important;
       margin-top: -30px;
       left: 100%;
}
@media (max-width: 992px) {
       .dropdown-menu{
           width: 50%;
       }
       .dropdown-menu .dropdown-submenu{
           width: auto;
       }
}
/*-----------------o--------------Estilos de Nav--------------o-----------------o-------------o*/

nav div .dropdown-menu{
  background-color: #0a6cce;

}

nav div .dropdown-menu a{
  color: white;
  font-size: 14px;
  margin: none;
}

.fondo{
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 2px;
}

.fondo:hover {
    background-color: white;
    color: black;
  
}
.fondo:hover .vinculo{
    color: black;
    text-decoration: none;
}  
body{
    background: rgb(45,181,222);
background: radial-gradient(circle, rgba(45,181,222,1) 12%, rgba(255,255,255,1) 49%, rgba(45,181,222,1) 100%); padding: none;
}
/*-----------------o--------------Estilos de Nav--------------o-----------------o-------------o*/

/*_________o___________o__Lista de Doctores_________o___________o__*/
.cardDoc{
    width: 18rem; 
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,212,255,0) 100%);
}
/*_________o___________o__Lista de Doctores_________o___________o__*/

/*-----------------o--------------Contacto--------------o-----------------o-------------o*/
    .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*-----------------o--------------Contacto--------------o-----------------o-------------o*/
* {margin:0;padding:0;box-sizing:border-box;}

.prueba{
    width: 100%;
    line-height: 1;
    font-size:8px;
    background: rgba(0, 0, 0, .4);
    color:white;
}
/*-----------------o--------------imagen de telavip--------------o-----------------o-------------o*/

  .imgseguros{
     width: 200px; 
    height: 100px;
    }

/*-----------------o--------------imagen de telavip--------------o-----------------o-------------o*/
/*-----------------o--------------imagen de seguros--------------o-----------------o-------------o*/

  .imagenseguros{
   width: 90px; 
    height: 60px;
  }
  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 50%, 50%;
  background-color: #667ab3;
  color: red; 


}
/*-----------------o--------------imagen de seguros--------------o-----------------o-------------o*/
